button {
  padding: 0.7rem 2.1rem;
  border-radius: 100px;
  border-color: transparent;
  cursor: pointer;
}

button.primary {
  background-color: var(--blue);
  color: var(--white);
  transition: background-color .2s linear,color .2s linear
}

button.primary:hover {
  background-color: var(--green);
  color: var(--white);
  transition: background-color .2s linear,color .2s linear
}

.secondary-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .7rem 2.1rem;
  border:solid;
  border-width: 2px;
  border-radius: 100rem;
  border-color: var(--surface);
  background-color: var(--surface);
  text-decoration: none;
  color: var(--white);
  transition: background-color .2s linear,color .2s linear
}

.secondary-btn:hover {
  background-color: var(--surface-hover);
  border-color: var(--blue);
  transition: background-color .2s linear,color .2s linear
}

button.support-developers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  background-color: black;
  color: #39A75F;
  transition: background-color .2s linear,color .2s linear
}

button.support-developers:hover {
  color: var(--blue);
  transition: background-color .2s linear,color .2s linear
}

button.check {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.15s ease;
}

.linked-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 2rem;
}

.page-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border:solid;
  border-width: 2px;
  border-radius: .75rem;
  border-color: var(--secondary);
  text-decoration: none;
  color: var(--on-background);
}

.page-btn:hover {
  border-color: var(--blue);
}

.page-btn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-left {
  align-items: start;
}

.align-right {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.support-btn {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2.5rem;
  border:solid;
  border-width: 2px;
  border-radius: 100px;
  border-color: var(--secondary);
  text-decoration: none;
  color: var(--on-background);
}

.support-btn:hover {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
}
