:root {
    --background: #131f24;
    --on-background: #afafaf;
    --surface: #1a2930;
    --surface-hover: #0f1419;
    --strong: #8d96a0;
    --border: #4e4e4e;
    --white: #ffffff;
    --black: #0c0d0e;
    --orange: #edb54b;
    --blue: #004a86;
    --green: #39a75f;
    --red: #fc6755;
}
