@import url(colors.css);
@import url(buttons.css);
@import url(tables.css);
@import url(pagestruct.css);
@import url(hero.css);
@import url(navbar.css);
@import url(footer.css);



html {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

body {
    color: var(--on-background);
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

h1 { font-size: 2em; }

p, td, h1 {
    color: var(--white);
}

.center {
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--on-background);
}

.link {
    color: var(--white);
    text-decoration: none;
}

a {
    color: var(--orange);
}

a:hover {
    color: var(--white);
}

.accent {
    color: white;
    background-color: var(--blue);
    font-weight: bold;
}

.link:hover {
    color: var(--blue);
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.history-img {
    width: 50%;
}

.history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.qr-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenshot {
    width: 202.5px;
    height: 450px;;
}

li {
    margin: 0rem 0; 
}


@media only screen and (max-width: 1024px) {
    .screenshot {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1300px) {
    .history-img {
        width: 100%;
    }

    .history {
        flex-direction: column;
        align-items: start;
    }
}
