@import url(tokens.css);
@import url(colors.css);
@import url(typography.module.css);
@import url(buttons.css);
@import url(hero.css);
@import url(navbar.css);
@import url(footer.css);

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/montserrat_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('fonts/Montserrat/montserrat_semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat/montserrat_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('fonts/Montserrat/montserrat_extrabold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body {
  color: var(--on-background);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

.center {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  /* background: var(--md-sys-color-on-background); */
  background: #afafaf;
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main.landing {
  /*padding: 0 19.5rem;*/
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 0rem;
  max-width: 80ch;
  margin: 0 auto;
  width: 100%;
}

.link {
  color: var(--white);
  text-decoration: none;
}

.accent {
  color: white;
  background-color: var(--blue);
  /* font-weight: bold; */
}

.link:hover {
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.underline-td {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

hr {
  display: none;
  height: 1px;
  background-color: #4e4e4e;
  border: 0;
  width: 100%;
  max-width: 80ch;
}

.history-img {
  width: 50%;
}

.history {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.qr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.qr-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenshot {
  width: 202.5px;
  height: 450px;;
}

li {
  margin: 1rem 0; 
}

h3, h4, h6 {
  margin: 0.5em 0 0.5em 0;
}

table, th, td {
  border: 1px dotted #4e4e4e;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  text-align: justify;
  padding: 1rem;
}

.table-downloads {
  word-break: break-word;
}

@media only screen and (max-width: 1024px) {
  .qr {
    flex-direction: column;
  }

  .screenshot {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .history-img {
    width: 100%;
  }

  .history {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (min-width: 1000px) {
  main.landing {
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  main.landing {
    padding: 0rem 3% 0rem 3%;
  }

}

@media only screen and (max-width: 570px) {
  .underline-td {
    text-underline-offset: 0.2rem;
  }
}
