.affix {
  color: #F6A849;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-weight: bold;
}

b {
  color: var(--md-sys-color-primary-container);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-weight: bold;
}

.example {
  color: white;
  background-color: var(--md-sys-color-on-primary-container);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-weight: bold;
}

th.morphology, td.morphology {
  text-align: center;
  padding: 0.5rem;
}

th.morphology {
  font-weight: bold;
  font-size: 1rem;
}