html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main.landing {
    display: flex;
    flex-direction: column;
}

section {
    padding: 0rem;
    max-width: 80ch;
    width: 100%;
}

p {
    margin: 0.5rem;
    word-break: break-word;
}

li {
    margin: 0.1rem;
}

@media only screen and (min-width: 1000px) {
    main.landing {
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    main.landing {
        margin: 0rem 3% 0rem 3%;
    }
}
