.overflowtable {
  overflow-x: auto;
  white-space: wrap;
}

th, td {
  text-align: center;
  padding: 0.5rem;
}

th {
  font-weight: bold;
  font-size: 1.15rem;
}

.newLetter {
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-primary);
  padding: 0.1rem 0.3rem;
  font-weight: bold;
}

.newPhoneme {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary-container);
  padding: 0.1rem 0.3rem;
  font-weight: bold;
}

u.definition {
  text-decoration-style: wavy;
}

div.latinTableLeft {
  text-align: center;
}

@media screen and (max-width: 700px) {
  div.latinTableLeft {
    width: 100%;
    margin-bottom: 3rem;
  }

  div.latinTableRight {
    width: 100%; 
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  div.latinTableLeft {
    width: 50%;
    margin-bottom: 3rem;
  }

  div.latinTableRight {
    width: 50%; 
    text-align: center;
  }
}