@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
/* @import url(theme.light.css) (prefers-color-scheme: light); */
@import url(theme.dark.css); /* (prefers-color-scheme: dark); */
@import url(buttons.css);
@import url(hero.css);
@import url(hero.navbar.css);
@import url(navigation.drawer.css);
@import url(footer.css);
@import url(phonetics.css);
@import url(morphology.css);

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/montserrat_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('fonts/Montserrat/montserrat_semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat/montserrat_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('fonts/Montserrat/montserrat_extrabold.ttf') format('truetype');
}

img.logo {
  width: auto;
  height: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--md-sys-color-on-primary);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-on-background);
}

main {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
  
}

section {
  padding-bottom: 4rem;
}

.link {
  color: var(--md-sys-color-on-primary);
  text-decoration: none;
}

.link:hover {
  color: var(--md-sys-color-primary-container);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

@media only screen and (max-width: 600px) {
  main {
    /* display: flex; */
    /* margin: 0; */
    padding: 1rem;
    /* padding-bottom: 5rem; */
  }

  footer {
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 600px) {
}