.under-development-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}

.under-development-icon {
  color: var(--md-sys-color-outline-variant);
  height: 10rem;
}